@model TrashCollectorProject.Models.Pickup

@{
    ViewBag.Title = "Request";
}

<h2>Request Pickup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <hr />
    <h4>Got too much trash? Select a date and we will take it off your hands.</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                One-time pickup date:
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "customdatepicker" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to Main Page", "Index", "Customer")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#customdatepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+2"
            });
        });
    </script>
}

